@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("./styles.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Brandon-black";
    src: url("/assets/fonts/brandon-grotesque/black.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-bold";
    src: url("/assets/fonts/brandon-grotesque/bold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-medium";
    src: url("/assets/fonts/brandon-grotesque/medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-regular";
    src: url("/assets/fonts/brandon-grotesque/regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-bold-italic";
    src: url("/assets/fonts/brandon-grotesque/bold-italic.woff2")
      format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Brandon-light-italic";
    src: url("/assets/fonts/brandon-grotesque/light-italic.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-light";
    src: url("/assets/fonts/brandon-grotesque/light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-medium-italic";
    src: url("/assets/fonts/brandon-grotesque/medium-italic.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-regular-italic";
    src: url("/assets/fonts/brandon-grotesque/regular-italic.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Brandon-thin-italic";
    src: url("/assets/fonts/brandon-grotesque/thin-italic.woff2")
      format("woff2");
    font-display: swap;
  }
}
